services:
  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile
    ports:
      - "5173:5173"

  backend:
    build: 
      context: ./backend
      dockerfile: dockerfile
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: dev
    # depends_on:
    #   - frontend