python-dotenv==1.2.2
redis==7.3.0
fastapi==0.135.1
slowapi==0.1.9
pydantic==2.12.5
groq==1.1.1
grpcio==1.78.0
grpcio-status==1.78.0
grpcio-tools==1.78.0
google-genai==1.68.0
supabase==2.28.3
uvicorn==0.34.0
